<h1>Welcome to Zoro's Cards!</h1>

<p>Choose a game!<p>
<input type="radio" name="game" value="fcdraw"> 5 Card Draw<br>

<div id="playerselection">
  <button type="button" class="btn btn-default">Player 1</button>
  <button type="button" class="btn btn-default">Player 2</button>
  <button type="button" class="btn btn-default">Player 3</button>
  <button type="button" class="btn btn-default">Player 4</button>
</div>

<input type="radio" name="playerchoice" value="pa">
<input type="radio" name="playerchoice" value="pb">
<input type="radio" name="playerchoice" value="pc">
<input type="radio" name="playerchoice" value="pd">
