@import "bootstrap-sprockets";
@import "bootstrap";



#gamechoose {
  h1 {
    background: blue;
  }
  width: 100%;
  background:  blue;
  #choose {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
